#content {
  display: flex;
  justify-content: center;
  column-gap: 15px;
}

#players {
  flex-grow: 1;
  min-width: 150px;
}

#config {
  flex-grow: 2;
  min-width: 300px;
}

.player {
  padding: 10px;
  background-color: red;
  margin: 2px;
  border-radius: 6px;
  list-style-type: none;
}
