#wrapper-player-config {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#wrapper-name {
  margin-top: 15px;
}
#wrapper-game {
  display: flex;
}

@media only screen and (max-width: 900px) {
  #wrapper-game {
    flex-direction: column;
  }
}
