<div id="answers-wrapper-main" class="wrapper-main">
    <div id="answers-main">
        <div id="answers-header">
            <h1 id="answers-question-selection">Welche Antwort ist von ${current_player}?</h1>
            <div id="answers-wrapper-timer">
                <div id="timer"></div>
            </div>
        </div>
        <div id="answers-answer-list">
            <div id="answers-wrapper-repeated-question">
                <h3 id="answers-repeated-question">${question}</h3>
            </div>
        </div>
    </div>
</div>
<div id="result-popup" class="result-popup">
    <div id="wrapper-results">
        <h3>Punkteverteilung</h3>
        <h4 id="new-points"></h4>
    </div>
</div>
<div id="result-popup-overlay"></div>
`