<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.75">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles_game.css')}}" />
    <script type="text/javascript" src="{{url_for('static', filename='lobby.js')}}"></script>
</head>

<body>
    <script>connect()</script>
    <iframe id="container-frame" src="/game_state">

    </iframe>
</body>

</html>