<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.75">
    <title>Get2Know | Home</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles_index.css')}}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap" rel="stylesheet">
    <script type="text/javascript" src="{{url_for('static', filename='scripts_index.js')}}"></script>
</head>
<body>
    <div id="container">
        <h1>Get2Know</h1>
        <form id="form-settings" action="/join" method="post">
            <div id="wrapper-player-config">
                <div id="wrapper-name">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" maxlength="20" value="{{name}}"required>
                </div>
                <div id="wrapper-game">
                    <div id="wrapper-create-game" class="game-item">
                        <h4>Create new game</h4>
                        <input type=submit id="create-game" class="neon-button" name="join-btn" value="create">
                    </div>
                    <div id="wrapper-join-game" class="game-item">
                        <h4>Join game</h4>
                        <label for="game-id">Game-ID:</label>
                        <input type="text" id="game-id" name="game-id" placeholder="z.B. 0187" value="{{game_id}}">
                        <input type=submit id="join-game" class="neon-button" name="join-btn" value="join">
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
<script type="text/javascript">
    var error = "{{error}}";
    if (error != ""){
        alert(error);
    }
</script>

