<div id="main" class="main">
    <div class="wrapper-box">
        <div class="header">
            <div id="round-counter">
                <h3 id="h3-margin">Runde ${current_round}</h3>
            </div>
            <div id="timer" class="timer-wrapper"></div>
            <div id="points">
                <h3 id="h3-margin">0</h3>
                <img id="img-points" src="/static/images/points.png" width="30px" height="30px">
            </div>
        </div>
        <div class="box">
            <br><br>
            <h1 id="question">${current_question}</h1>
            <div id="wrapper-input">
                <textarea id="input-answer" rows="5" cols="60" spellcheck="false"></textarea>
            </div>
        </div>
    </div>
</div>
<div id="popup" class="popup active">
    <div id="wrapper-intro">
        <p class="anim-typewriter line-1">${current_player} ist dran ...</p>
    </div>
</div>
<div id="popup-overlay" class="active"></div>