<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles_selection.css')}}">
    <script src="{{url_for('static', filename='selection.js')}}"></script>
    <title>Document</title>
</head>
<body>
    <div id="container" class="flex">
        <div class="header">
            <h4>Runde {{round}}</h4>
            <h4 id="timer">20 Sekunden verbleibend</h4>
        </div>
        {%if cur_id != user_id:%}
        <h2>Welche Antwort ist von {{turn}}</h2>
        <div id="options" class="scrollbar">
            {%for i, resp in responses:%}
            <input type="submit" class="selection" value="{{resp}}" onclick="selection('{{i}}', {{loop.index}});">
            {%endfor%}
        </div>
        <div class="footer">
            <input id="commit" type="submit" class="button" value="Antwort bestätigen" onclick="submit_clicked();">
        </div>
        {%else%}
        <h1>Gegebene Antworten von anderen Spielern:</h1>
        <div id="options" class="scrollbar">
            {%for i, resp in responses:%}
            {%if user_id != i:%}
            <input type="submit" class="selection" value="{{resp}}">
            {%endif%}
            {%endfor%}
        </div>
        <h3>Auf andere Spieler warten, die ihre Auswahl machen...</h3>
        {%endif%}
    </div>
</body>
</html>